#!/usr/bin/make -f

include /usr/share/dpkg/default.mk

export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_VERSION_UPSTREAM

%:
	dh $@

override_dh_auto_configure:
	sed install/mimic@.service.in \
		-e 's|@@MIMIC_EXEC@@|/usr/sbin/mimic|' \
		-e 's|@@MIMIC_CONFIG_PATH@@|/etc/mimic|' \
		-e 's|@@MIMIC_RUNTIME_DIR@@|mimic|' \
		> debian/mimic@.service
	sed kmod/dkms.conf.in \
		-e 's|@@EXTRA_OPTS@@|CHECKSUM_HACK=kfunc|' \
		> kmod/dkms.conf
	cp install/mimic.sysusers debian/mimic.sysusers

override_dh_auto_build:
	dh_auto_build -- build-cli build-tools generate-manpage \
		MODE= \
		BPF_CC=clang \
		USE_LIBXDP=1

override_dh_auto_test:

override_dh_dkms:
	dh_dkms -pmimic-dkms -V$(DEB_VERSION_UPSTREAM)

override_dh_auto_clean:
	dh_auto_clean
	rm -f debian/mimic@.service debian/mimic.sysusers
