#!/usr/bin/make -f

include /usr/share/dpkg/default.mk

export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_VERSION_UPSTREAM

%:
	dh $@

override_dh_auto_build:
	tar xf `bash -c '_tarballs=(/usr/src/linux-source-*.tar.*); echo $${_tarballs[0]}'`
	patch -d linux-source-*/tools/bpf/resolve_btfids -Np0 < debian/resolve_btfids-link-libbpf-dynamically.patch
	make -C linux-source-*/tools/bpf/resolve_btfids
	dh_auto_build -- out/mimic

override_dh_dkms:
	dh_dkms -pmimic-dkms -- src/kmod/dkms.conf

override_dh_dwz:
	dh_dwz -Xmimic

override_dh_auto_clean:
	dh_auto_clean
	rm -rf linux-source-*
