name: Push actions

on:
  push:
  workflow_dispatch:

jobs:
  test:
    name: Run tests with ${{ matrix.flags.flags }} ${{ matrix.flags.args }}
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        flags:
          - flags: CHECKSUM_HACK=kfunc
            args: ''
            desc: kfunc
          - flags: CHECKSUM_HACK=kfunc USE_LIBXDP=0
            args: ''
            desc: kfunc-no-libxdp
          - flags: CHECKSUM_HACK=kfunc USE_LIBXDP=1
            args: ''
            desc: kfunc-libxdp-use-libbpf
          - flags: CHECKSUM_HACK=kfunc USE_LIBXDP=1
            args: --use-libxdp
            desc: kfunc-libxdp-use-libxdp
          - flags: CHECKSUM_HACK=kprobe STRIP_BTF_EXT=1
            args: ''
            desc: kprobe-strip-btf-ext
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt install python3 clang-15 llvm pahole \
            bats bc conntrack ethtool iperf3 jq socat tshark wireguard-tools \
            libbpf-dev libffi-dev libelf-dev libxdp-dev
      - name: Build & Test
        run: |
          export BPF_CC=clang-15
          sudo cp /sys/kernel/btf/vmlinux /lib/modules/`uname -r`/build
          make -j ${{ matrix.flags.flags }}
          sudo nft delete table filter  # Docker's nftables rule drops IPv4 packets in tests
          sudo nft list ruleset
          sudo insmod out/mimic.ko
          sudo env MIMIC_TEST_EXTRA_ARGS="${{ matrix.flags.args }}" make test ${{ matrix.flags.flags }}
      - name: Upload captured packets
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: pcap-${{ matrix.flags.desc }}
          path: out/*.pcapng
  build-deb:
    name: Build .deb packages for ${{ matrix.distro.name }} (${{ matrix.arch }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64, arm64]
        distro:
          - name: Debian 12
            codename: bookworm
            image: debian:bookworm-slim
            extra-repos: |
              deb http://deb.debian.org/debian bookworm-backports main
            extra-cmd-amd64: |
              sed -i 's/clang/clang-16/' debian/control
              sed -i 's/BPF_CC=clang/BPF_CC=clang-16 COMPAT_LINUX_6_1=1/' debian/rules
            extra-cmd-arm64: |
              sed -i 's/linux-source/linux-source-6.1/' debian/control
              sed -i 's/BPF_CC=clang/BPF_CC=clang COMPAT_LINUX_6_1=1/' debian/rules
          - name: Debian 13
            codename: trixie
            image: debian:trixie-slim
          - name: Debian 14 (testing)
            codename: forky
            image: debian:forky-slim
          - name: Debian sid
            codename: sid
            image: debian:sid-slim
          - name: Ubuntu 24.04
            codename: noble
            image: ubuntu:noble
            extra-repos: |
              deb http://archive.ubuntu.com/ubuntu noble-backports main restricted universe multiverse
            extra-cmd-amd64: |
              sed -i 's/clang,/clang, llvm,/' debian/control
            extra-cmd-arm64: |
              sed -i 's/clang,/clang, llvm,/' debian/control
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        if: matrix.arch != 'amd64'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: ${{ matrix.arch }}
      - name: Run pre-building script
        run: ${{ matrix.arch == 'amd64' && matrix.distro.extra-cmd-amd64 || matrix.distro.extra-cmd-arm64 }}
      - name: Build
        uses: jtdor/build-deb-action@v1
        with:
          buildpackage-opts: -b -us -uc
          docker-image: ${{ matrix.distro.image }}
          extra-repos: ${{ matrix.distro.extra-repos }}
          host-arch: ${{ matrix.arch }}
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: packages-${{ matrix.distro.codename }}-${{ matrix.arch }}
          path: |
            debian/artifacts/*.deb
            debian/artifacts/*.ddeb
  test-deb-install:
    name: Test .deb installation (amd64)
    needs: build-deb
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: packages-noble-amd64
          path: packages-noble-amd64
      - name: Test Install
        run: |
          sudo apt install ./packages-noble-amd64/*.deb linux-headers-`uname -r`
          sudo modprobe mimic
      - name: Upload log
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: dkms-make-log
          path: /var/lib/dkms/mimic/0.7.0/build/make.log
